.layout {
  -fx-background-color: #faf8f0;
  -fx-font-family: Arial, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-padding: 10px;
}

.scoreboard {
  -fx-alignment: center-right;
  -fx-spacing: 10px;
}

.logo {
  -fx-text-fill: #ffffff;
  -fx-background-color: #ecc400;
  -fx-pref-width: 60px;
  -fx-pref-height: 60px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-font-size: 22px;
  -fx-alignment: center;
}

.score {
  -fx-background-color: #bbada1;
  -fx-background-radius: 4px;
  -fx-padding: 10;
  -fx-alignment: center;
}

.score-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 8px;
}

.score-value {
  -fx-text-fill: #ffffff;
  -fx-font-size: 20px;
}

.instructions {
  -fx-text-fill: #766f65;
  -fx-padding: 10 0 10 0; /* top, right, bottom, left */
}

.board {
  -fx-background-color: #bbada1;
  -fx-padding: 10px;
}

.tile {
  -fx-pref-width: 70px;
  -fx-pref-height: 70px;
  -fx-font-size: 34px;
  -fx-alignment: center;
  -fx-text-fill: #ffffff;
  -fx-background-color: #f1d04c;
}

/*
.tile-0 {
  -fx-background-color: #cbc0b4;
}

.tile-2 {
  -fx-background-color: #efe4da;
  -fx-text-fill: #766f65;
}

.tile-4 {
  -fx-background-color: #ece0ca;
  -fx-text-fill: #766f65;
}

.tile-8 {
  -fx-background-color: #f2b278;
}

.tile-16 {
  -fx-background-color: #ec8e53;
}

.tile-32 {
  -fx-background-color: #f57c5e;
}

.tile-64 {
  -fx-background-color: #e95839;
}
*/